body {
    background-color: #e9f0f7;
    color: #767989
}

#header {
    background-color: white;
    border: 3px solid #767989;
    border-radius: 15px;
}

#buffer {
    width: 20px;
    background-color: #b4bccb
}